<a href="https://www.kaggle.com/code/tiheli/scaler-normalization?scriptVersionId=206560843" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/plane-price-prediction/Plane Price.csv

In [2]:
 # Load the dataset containing plane prices and related features
df=pd.read_csv('/kaggle/input/plane-price-prediction/Plane Price.csv')

In [3]:
# Import StandardScaler and MinMaxScaler for scaling and normalizing the data
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [4]:
# Display the first 5 rows of the dataframe to examine the structure and values of the dataset
df.head()

,Model Name,Engine Type,HP or lbs thr ea engine,Max speed Knots,Rcmnd cruise Knots,Stall Knots dirty,Fuel gal/lbs,All eng rate of climb,Eng out rate of climb,Takeoff over 50ft,Landing over 50ft,Empty weight lbs,Length ft/in,Wing span ft/in,Range N.M.,Price
0,100 Darter (S.L. Industries),Piston,145,104,91.0,46.0,36,450,900.0,1300.0,"2,050","1,180",25/3,37/5,370,1300000.0
1,7 CCM Champ,Piston,85,89,83.0,44.0,15,600,720.0,800.0,"1,350",820,20/7,36/1,190,1230000.0
2,100 Darter (S.L. Industries),Piston,90,90,78.0,37.0,19,650,475.0,850.0,"1,300",810,21/5,35/0,210,1600000.0
3,7 AC Champ,Piston,85,88,78.0,37.0,19,620,500.0,850.0,"1,300",800,21/5,35/0,210,1300000.0
4,100 Darter (S.L. Industries),Piston,65,83,74.0,33.0,14,370,632.0,885.0,"1,220",740,21/5,35/0,175,1250000.0

In [5]:
# Display information about the dataframe, such as the number of non-null entries, column types, and memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Model Name               517 non-null    object
 1   Engine Type              517 non-null    object
 2   HP or lbs thr ea engine  517 non-null    object
 3   Max speed Knots          497 non-null    object
 4   Rcmnd cruise Knots       507 non-null    float64
 5   Stall Knots dirty        502 non-null    float64
 6   Fuel gal/lbs             517 non-null    int64
 7   All eng rate of climb    513 non-null    object
 8   Eng out rate of climb    491 non-null    float64
 9   Takeoff over 50ft        492 non-null    float64
 10  Landing over 50ft        517 non-null    object
 11  Empty weight lbs         516 non-null    object
 12  Length ft/in             517 non-null    object
 13  Wing span ft/in          517 non-null    object
 14  Range N.M.               499 non-null    object
 15  Price                    507 non-null    float64
dtypes: float64(5), int64(1), object(10)
memory usage: 64.8+ KB

In [6]:
# Select relevant columns for analysis and drop any rows with missing values
df = df[["Rcmnd cruise Knots", "Stall Knots dirty", "Fuel gal/lbs", "Eng out rate of climb", "Takeoff over 50ft", "Price"]]
# Drop rows with any missing values
df = df.dropna()

In [7]:
# Display the first 5 rows of the dataframe to examine the structure and values of the dataset
df.head()

,Rcmnd cruise Knots,Stall Knots dirty,Fuel gal/lbs,Eng out rate of climb,Takeoff over 50ft,Price
0,91.0,46.0,36,900.0,1300.0,1300000.0
1,83.0,44.0,15,720.0,800.0,1230000.0
2,78.0,37.0,19,475.0,850.0,1600000.0
3,78.0,37.0,19,500.0,850.0,1300000.0
4,74.0,33.0,14,632.0,885.0,1250000.0

In [8]:
# Separate target variable (Price) from the features
y = df['Price']  # Target variable: Price column
x = df.drop("Price", axis=1)  # Features: All columns except Price

# we do not make normalization for Y

In [9]:
# Standardize the feature data
ss = StandardScaler()  # Initialize the StandardScaler
x2 = ss.fit_transform(x)  # Fit and transform the feature data using StandardScaler

In [10]:
# Convert the standardized data into a DataFrame
x2 = pd.DataFrame(x2)  # Convert the scaled feature data back into a DataFrame
x2.head(3)  # Display the first 3 rows of the standardized data

          0         1         2         3         4
0 -1.068639 -0.909101 -0.301174 -1.010356 -0.570019
1 -1.148840 -1.032013 -0.306563 -1.176676 -1.280965
2 -1.198965 -1.462203 -0.305537 -1.403055 -1.209871

In [11]:
# Calculate the mean of the 4th column of the standardized data
x2[4].mean()  # This gives the mean value of the 4th column in the standardized DataFrame

-4.674623261579606e-17

In [12]:
# Calculate the standard deviation of the 4th column of the standardized data
x2[4].std()  # This gives the standard deviation of the 4th column in the standardized DataFrame

1.001098297969686

In [13]:
# Initialize the MinMaxScaler to scale features to a range between 0 and 1
mm = MinMaxScaler()  # This creates an instance of MinMaxScaler

In [14]:
# Apply MinMaxScaler to the feature set (x) to scale all features to the range [0, 1]
x3 = mm.fit_transform(x)  # This scales all the features of x using the MinMaxScaler

In [15]:
# Convert the scaled data (x3) into a DataFrame and display the first 3 rows
x3 = pd.DataFrame(x3)  # Convert the scaled array back into a DataFrame
x3.head(3)  # Display the first 3 rows of the scaled data

          0         1         2         3         4
0  0.051724  0.215909  0.000814  0.074541  0.183908
1  0.032020  0.193182  0.000102  0.044254  0.068966
2  0.019704  0.113636  0.000237  0.003029  0.080460

In [16]:
# Calculate the mean of the first feature after MinMax scaling
x3[0].mean()  # This returns the mean of the first column in the scaled data

0.3142770719903207

In [17]:
# Calculate the standard deviation of the first feature after MinMax scaling
x3[0].std()  # This returns the standard deviation of the first column in the scaled data

0.24595887911039882

In [18]:
# Calculate the maximum value of the first feature after MinMax scaling
x3[0].max()  # This returns the maximum value of the first column in the scaled data

1.0

In [19]:
# Calculate the minimum value of the first feature after MinMax scaling
x3[0].min()  # This returns the minimum value of the first column in the scaled data

0.0